@import 'src/app/app.component.scss';

div.create-beneficiary {
    width: 70%;
    margin: 0 auto;

    h2 {
        width: 100%;
        font-size: 35px;
        font-weight: 900;
        color: $font-dark;
        text-align: center;
        margin-top: 10px;
    }

    form {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        box-sizing: border-box;

        div.form-field {
            flex: 0 0 49%;
            margin-bottom: 40px;

            p {
                font-size: 13px;
                letter-spacing: .5px;
                font-weight: bold;
                color: $font-dark;
                margin-bottom: 5px;
            }

            .input-field {
                width: 100%;
                height: 40px;
            }

            .form-field-wrap {
                width: 100%;
                height: 40px;
            }
        }

        div.fix-form-field {
            margin-top: -20px;
        }

        .create-employee-btn {
            width: 100%;
            height: 50px;
        }
    }
}