<div class="create-beneficiary fadeInAnimation">
    <h2>Agregar Beneficiario</h2>

    <form
        [formGroup]="beneficiaryForm"
        (ngSubmit)="sendForm();"
    >   
        <div class="form-field">
            <p>Nombre:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-user"

                [parentForm]="beneficiaryForm"
                fieldName="name"
                formControlName="name"
                type="text"
                placeholder="Nombres del beneficiario"
            ></app-input>
        </div>

        <div class="form-field">
            <p>Apellido:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-user"

                [parentForm]="beneficiaryForm"
                fieldName="surname"
                formControlName="surname"
                type="text"
                placeholder="Apellidos del beneficiario"
            ></app-input>
        </div>

        <div class="form-field">
            <p>Fecha de Nacimiento:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-calendar"

                [parentForm]="beneficiaryForm"
                fieldName="birthdate"
                formControlName="birthdate"
                type="text"
                placeholder="dd / mm / yy"
            ></app-input>
        </div>

        <div class="form-field">
            <p>CURP:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-file"

                [parentForm]="beneficiaryForm"
                fieldName="curp"
                formControlName="curp"
                type="text"
                placeholder="XEXX010101HNEXXXA4"
            ></app-input>
        </div>

        <div class="form-field">
            <p>SSN:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-file"

                [parentForm]="beneficiaryForm"
                fieldName="ssn"
                formControlName="ssn"
                type="text"
                placeholder="SSN"
            ></app-input>
        </div>

        <div class="form-field">
            <p>Telefono:</p>
            <app-input
                [elevation]=false
                [fit]=true
                color="white"
                class="input-field"
                icon="fa-solid fa-phone"

                [parentForm]="beneficiaryForm"
                fieldName="phone"
                formControlName="phone"
                type="number"
                placeholder="6699885533"
            ></app-input>
        </div>

        <div class="form-field">
            <p>Nacionalidad:</p>
            <div class="form-field-wrap">
                <app-select
                    [elevation]=false
                    [fit]=true
                    color="white"
                    class="input-field"
                    icon="fa-solid fa-file"

                    [selectOptions]="nationalities"
                    [parentForm]="beneficiaryForm"
                    fieldName="nationality"
                    formControlName="nationality"
                    type="text"
                    placeholder="MX"
                ></app-select>
            </div>
        </div>

        <div class="form-field">
            <p>Porcentaje:</p>
            <div class="form-field-wrap">
                <app-input
                    [elevation]=false
                    [fit]=true
                    color="white"
                    class="input-field"
                    icon="fa-solid fa-percent"

                    [parentForm]="beneficiaryForm"
                    fieldName="percentage"
                    formControlName="percentage"
                    type="number"
                    placeholder="100%"
                ></app-input>
            </div>
        </div>

        <div class="form-field fix-form-field">
            <p>Folio de Empleado:</p>
            <div class="form-field-wrap">
                <app-input
                    [elevation]=false
                    [fit]=true
                    color="white"
                    class="input-field"
                    icon="fa-solid fa-code"

                    [parentForm]="beneficiaryForm"
                    fieldName="employee"
                    formControlName="employee"
                    type="text"
                    placeholder="65787a76294011c65bd10c1f"
                ></app-input>
            </div>
        </div>

        <app-button
            [elevation]=true
            [fit]=true
            class="create-employee-btn"

            color="primary"
            text="Agregar Beneficiario"
            [disabled]="beneficiaryForm.invalid"
        ></app-button>
    </form>
</div>
