<header 
    *ngrxLet="user$ as user"
    class="admin-header"
>

    <div class="admin-header-session">
        <div class="admin-header-session-img">
            <img
                src="assets/user.png"
                alt="user.png"
            />
            <div class="admin-header-session-dot">
                <div></div>
            </div>
        </div>
        <app-button
            *ngIf="user"
            class="admin-header-button"
            [fit]="true"
            [elevation]="true"
            color="white"
            text="{{ user.username! }}"
            type="button"
        ></app-button>

        <app-button
            (click)="logout();"
            class="admin-header-button"
            [fit]="true"
            [elevation]="true"
            color="primary"
            text="Cerrar Sesión"
            icon="fa-solid fa-right-from-bracket"
            type="button"
        ></app-button>
    </div>
</header>